/****** General ***********/

* {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a {
    text-decoration: none;
    color: currentColor;
}


li {
    list-style-type: none;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

.paragraph {
    font-size: 14px;
    font-weight: 400;
}

/* Colors styles */

.color_Blue {
    color: #0065fc;
}

.color_Beige {
    color: #f2f2f2;
}


/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
    width: 10%;
    min-width: 65px;
}

.logo img {
    max-height: 19px;
}


/* Navigation */

.nav-Container {
    width: 25%;
    min-width: 325px;
}

.nav_List {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 325px;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav_Link {
    text-align: center;
    width: 50%;
    min-width: 162px;
    margin: 0;
}

.nav_Link a {
    display: block;
    padding: 40px 0;
    font-size: 16px;
}

.nav_Link:hover {
    box-shadow: inset 0 2px #0065fc;
}

.nav_Link:hover a {
    font-weight: 500;
    color: #0065fc;
}


/* main header */
.main_Header {
    padding: 0 50px;
    margin-bottom: 40px;
}

.main_Header p {
    font-size: 16px;
    font-weight: 400;
}


/* Search form */

.location_SearchForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 35%;
    height: 50px;
    margin: 20px 0 30px 0;
}

.left_SearchButton {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

.left_SearchButton:hover {
    cursor: pointer;
}

.middle_SearchButton {
    font-size: 1.125em;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    height: 50px;
    padding-left: 16px;
    box-sizing: border-box;
}

.middle_SearchButton::placeholder {
    color: black;
}

.right_SearchButton {
    font-size: 1.125em;
    font-weight: 700;
    color: white;
    background: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
    max-width: 132px;
    height: 50px;
    padding: 0 16px;
    box-sizing: border-box;
}

.right_SearchButton:hover {
    cursor: pointer;
}

.searchButton_Text {
    display: inline;
    font-size: 1em;
}

.searchButton_Icon {
    display: none;
    font-size: 1em;
}

/* Filter bar */

.filter_Container {
    display: flex;
    align-items: center;
    width: 63%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 0 35px;
    box-sizing: border-box;
}

.filter_Container p {
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.filter_Items {
    display: flex;
    gap: 6px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.filter {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height: 50px;
    margin: 6px;
    box-sizing: border-box;
}

.filter a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    width: max-content;
    min-width: 136px;
    max-width: fit-content;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.filter i {
    margin-right: 8px;
    color: #0065fc;
}

.filter:hover {
    background-color: #deebff;
}

/* Information */

.round_Icon {
    display: inline-block;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    line-height: 24px;
    margin-right: 10px;
}

.round_Icon i {
    color: #0065fc;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info p {
    font-size: 16px;
    font-weight: 400;

}

/* Cards */

.cards {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.cards a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* Hébergements and populaire */

.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 35px;
}


/* Hébergements */
.hebergement {
    background: #f2f2f2;
    border-radius: 20px;
    width: 63%;
    padding: 10px 3%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.hebergement_Cards_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hebergement_Cards {
    width: 32%;
    min-width: 169px;
    height: 200px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.hebergement_Cards_Container a {
    flex-direction: column;

}

.hebergement_Cards_Container img {
    object-fit: cover;
    border: 5px solid #ffffff;
    border-bottom-width: 0px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;

}


/* Populaire */

.popular_Section {
    background: #f2f2f2;
    border-radius: 20px;
    width: 32%;
    padding: 10px 3%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.popularCards_Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popular_Cards {
    width: 100%;
    height: 145px;
    margin-bottom: 30px;
}

.popular_Cards a {
    flex-direction: row;
}

.popular_Images {
    object-fit: cover;
    border: 5px solid #ffffff;
    border-right-width: 0px;
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 145px;
    box-sizing: border-box;
}

.chart_Line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Activites */

.activities_Container {
    padding: 0 50px;
    margin-bottom: 30px;
}

.activities_Section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activitiesCards_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.activities_Cards {
    flex-direction: column;
    justify-content: flex-start;
    width: 23%;
    height: 450px;
    box-sizing: border-box;
}

.activities_Cards a {
    flex-direction: column;
}

.activities_Images {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 390px;
}

.activities_Title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    height: 30.019px;
    padding: 30px;
 
}

/* Cards */

.card_Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    padding: 4px 10px 10px;
    box-sizing: border-box;
}

.cards .paragraph {
    font-size: 0.875em;
}

.popular_Cards .card_Info {
    width: 59%;
    height: 145px;
    padding: 15px 12px;
    box-sizing: border-box;
}

.popular_Cards h3 {
    margin-bottom: 8px;
}

.activities_Cards h3 {
    margin: auto 6%;
}

/* Card-rating */

.card-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 15px;
    line-height: 15px;
    color: #0065fc;
}

.card-rating i {
    height: 14px;
    line-height: 14px;

}

.neutral-star {
    color: var(--main-bg-color)
}

/* Footer */

.footer {
    background: white;
    padding: 0 50px;
}

.footer_Container {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    min-height: 200px;
    padding: 3% 50px 0;
    box-sizing: border-box;
}

.footer_List {
    width: 28%;
    padding: 0 1%;
}

.footer_Title {
    font-size: 1.125em;
    margin: 0 0 20px;
}

.footer_Link {
    display: block;
    margin-bottom: 12px;
}

/* Media Queries Tablet */

@media all and (min-width: 768px) and (max-width: 991px) {

    /* Hebergement */

    .hebergement {
        width: 100%;
        padding: 15px 5%;
        margin-bottom: 50px;
    }

    .hebergement_Cards {
        width: 30%;
    }

    /* Popular */

    .popular_Section {
        width: 100%;
        margin-bottom: 35px;
    }

    .popularCards_Container {
        flex-direction: row;
    }

    .popular_Cards {
        width: 31%;
    }

    .popular_Cards .card_Info {
        width: 59%;
        height: 145px;
        padding: 12px 25px 12px 10px;
    }

    /* Activities */

    .activities_Cards {
        width: 21%;
        height: 267px;
    }

    .activities_Images {
        height: 211px;
    }
}

/* Media Queries Tablet for Filter only */

@media screen and (min-width: 768px) and (max-width: 883px) {

    /* Filter */
    .filter_Container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .filter_Title {
        margin: 0 0 10px;
    }

    .filter_Items {
        justify-content: space-between;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .filter {
        width: 50%;
        margin: 6px 0;
    }

    .filter_Link {
        justify-content: flex-start;
        width: 100%;
        max-width: 210px;
        height: 100%;
    }
}

/* Media Queries Mobile */

@media screen and (max-width: 767px) {
    body {
        min-width: 375px;
    }

    .section_Content {
        width: 100%;
        min-width: 320px;
        max-width: 375px;
        margin: 0 auto 40px;
    }

    /* Header */

    .header {
        flex-wrap: wrap;
        max-height: none;
        padding: 0;
        margin: 0 0 30px;
        box-sizing: content-box;
    }

    /* main header */
    .main_Header {
        max-width: 375px;
        padding: 0 20px;
        margin: 0 auto 40px;
    }

    /* logo */
    .logo {
        justify-content: center;
        width: 100%;
        margin: 25px 0;
    }

    /* Navigation */
    .nav-Container {
        box-shadow: 0 3px #f2f2f2;
        width: 100%;
    }

    .nav_Link a {
        padding: 25px 0;
    }

    .nav_Link:hover {
        box-shadow: 0 3px #0065fc;
    }


    /* Search form */

    .location_SearchForm {
        margin: 30px 0;
    }

    .middle_SearchButton {
        width: 100%;
    }

    .right_SearchButton {
        width: 50px;
        min-width: 50px;
    }

    .searchButton_Text {
        display: none;
    }

    .searchButton_Icon {
        display: inline;
    }

    /* Filter */
    .filter_Container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .filter_Title {
        margin: 0 0 10px;
    }

    .filter_Items {
        justify-content: space-between;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
    }

    .filter {
        font-size: 0.6875em;
        width: 50%;
        margin: 6px 0;
    }

    .filter_Link {
        justify-content: flex-start;
        width: 160px;
        min-width: 152px;
    }

    /* hebergements-and-populaires */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0;
        margin-bottom: 60px;
    }

    /* Popular */

    .popular_Section {
        border-radius: 0;
        width: 100%;
        padding: 0 20px;
    }

    .popular_Cards {
        margin-bottom: 12px;
    }

    /* hebergement */

    .hebergement_Section {
        background: white;
        border-radius: 0;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .hebergement_Cards_Container {
        flex-direction: column;
    }

    .hebergement_Cards {
        width: 100%;
        margin-bottom: 12px;
    }

    .hebergement_More {
        display: none;
    }

    /* Activites a marseille  */

    .activities_Container {
        padding: 0;
    }

    .activities_Section {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .activitiesCards_Container {
        flex-direction: column;
    }

    .activities_Cards {
        width: 100%;
        height: 190px;
        margin-bottom: 12px;
    }

    .activities_Images {
        height: 134px;
    }

    .activities_Title {
        width: 40%;
        max-width: 210px;
    }

    /* footer */

    .footer {
        background: #f2f2f2;
        padding: 0 20px;
    }

    .footer_Container {
        flex-direction: column;
        width: 100%;
        min-width: 320px;
        max-width: 375px;
        height: auto;
        min-height: 500px;
        padding: 45px 20px 0;
        margin: 0 auto;
    }

    .footer_List {
        width: 100%;
        min-width: 200px;
        padding: 0;
        margin-bottom: 40px;
    }
}